{% extends 'base.html' %}
{% load humanize %}

{% block body_block %}

<h3>Fixed Asset Register Detail view</h3>

<p>Here is the detail view for the FAR </p> 
<div class=conainer align='middle'>

  <h3>Equipment Type  : {{ far_detail.equ_type }}</h3>
  <h3>Asset No : {{ far_detail.asset_num	}}</h3>
  <h3>Serial No :  {{ far_detail.serial_num	}}</h3>
  <h3>Description :{{ far_detail.description	}}</h3>
  <h3>BU  : {{ far_detail.BU	}}</h3>
  <h3>BL  :  {{ far_detail.BL	}}</h3>
  <h3>Asset Life  : {{ far_detail.asset_life	}}</h3>
  <h3>Acquisition Date  : {{ far_detail.acquisition_date	}}</h3>
  <h3>Acquisition Cost  :   {{ far_detail.acquisition_cost|intcomma}}</h3>
  <h3>Total Depreciation  :   {{ far_detail.tot_dep_value|intcomma}}</h3>
  <h3>NBV  :   {{ far_detail.nbv|intcomma}}</h3>
  <h3>Temp Location  : {{ far_detail.temp_location }}</h3>
  {% if far_detail.nbv >= 100.00  %}
  <h2 color='red'>Equipment still chargeable</h2>
  {% else  %}
  <h2 color='blue'>Equipment fully depreciated</h2>
  {% endif  %}
  <a class="btn btn-outline-dark" href="{% url 'far' %}">Back to FAR</a>
</div>

{% endblock %}


