{% extends 'base.html' %}

{% block body_block %}

<h1>FAR Page</h1>

<p>Here will find the far list </p> 


<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Asset No</th>
			<th scope="col">Serial No</th>
			<th scope="col">Description</th>
			<th scope="col">Location</th>
			<th scope="col">BU</th>
		</tr>
	</thead>
	<tbody>
		{% for fa in far_1 %}
		<tr>
			<th scope="row">{{ fa.id }}</th>
			<td>{{ fa.asset_num  }}</td>
			<td>{{ fa.serial_num  }}</td>
			<td>{{ fa.description  }}</td>
			<td>{{ fa.temp_location }}</td>
			<td>{{ fa.BU }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>



{% endblock %}


