{% extends 'base.html' %}

{% block body_block %}

<h1>FAR Page</h1>

<p>Here will find the far list </p> 

{% for contact in page_obj %}
{# Each "contact" is a Contact model object. #}
<!-- {{ contact.full_name|upper }}<br> -->
<!-- ... -->
{% endfor %}

<!-- <div class="pagination"> -->
<!-- 	<span class="step-links"> -->
<!-- 		{% if page_obj.has_previous %} -->
<!-- 		<a href="?page=1">&laquo; first </a> -->
<!-- 		<a href="?page={{ page_obj.previous_page_number }}">_ previous </a> -->
<!-- 		{% endif %} -->
<!-- 		<span class="current"> -->
<!-- 			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. -->
<!-- 		</span> -->
<!-- 		{% if page_obj.has_next %} -->
<!-- 		<a href="?page={{ page_obj.next_page_number }}"> next_ </a> -->
<!-- 		<a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a> -->
<!-- 		{% endif %} -->
<!-- 	</span> -->
<!-- </div> -->

<!-- <br> -->

<nav aria-label="Page navigation example">
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li class="page-item"><a class="page-link" href="?page=1">first</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number  }}">previous</a></li>
		{% endif %}
		<li class="page-item"><a class="page-link" href="#">Page: {{page_obj.number}}</a></li>
		{% if page_obj.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages  }}">last</a></li>
		{% endif %}
	</ul>
</nav>

<!-- <br> -->

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Asset No</th>
			<th scope="col">Serial No</th>
			<th scope="col">Description</th>
			<th scope="col">Location</th>
			<th scope="col">BU</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for fa in far_1 %}
		<tr>
			<th scope="row"> <a href="{% url 'far_detail' pk=fa.pk %}">{{ fa.asset_num }}</a></th>
			<td>{{ fa.equ_type }}</td>
			<td>{{ fa.BU }}</td>
			<td>{{ fa.serial_num }}</td>
			<td>{{ fa.description }}</td>
			<td>{{ fa.temp_location }}</td>
			<td><a href="{% url 'far_update' pk=fa.pk  %}" class="btn btn-info btn-sm">Update</a></td>
			<td><a href="{% url 'far_delete' pk=fa.pk  %}"class="btn btn-danger btn-sm">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a class="btn btn-outline-dark" href="{% url 'far_new' %}">Add New Asset</a>


{% endblock %}


