{% extends 'base.html' %}
{% block body_block %}

<h1>Employees Home Page</h1>

<p>Here you can find all the employees name list</p> 
<!-- Adding the filter form here --> 
<div class="row">
	<div class="col">
		<div class="card card-body" >
			<form  method="GET" >
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary" >Search</button>
				<a class="btn btn-outline-dark" href="{% url 'employee_new' %}">Add new Employee</a>
			</form>
		</div>
	</div>
</div>
<br>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Nationality</th>
			<th scope="col">BL</th>
			<th scope="col">BU</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
			<th scope="col">PDF</th>
		</tr>
	</thead>
	<tbody>
		{#{% for fa in emp_all%}#}
		{% for fa in filter.qs %}
		<tr>
			<th scope="row" ><a href="{% url 'employee_detail' pk=fa.pk  %}" >{{ fa.OSID }}</a></th>
			<td>{{ fa.first_name  }}</td>
			<td>{{ fa.last_name  }}</td>
			<td>{{ fa.nationality }}</td>
			<td>{{ fa.BL }}</td>
			<td>{{ fa.BU}}</td>
			<td><a href="{% url 'employee_update' pk=fa.pk   %}" class="btn btn-outline-dark"><span class="fa fa-clone"></a></td>
			<td><a href="{% url 'employee_delete' pk=fa.pk  %}"class="btn btn-outline-dark"><span class="fa fa-eraser"></a></td>
			<td><a href="{% url 'pdf_employee_view' pk=fa.pk  %}"class="btn btn-outline-dark"><span class="fa fa-pencil"></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<br>
<br>

{% endblock %}


