{% extends 'base.html' %}

{% block body_block %}

<h1>Maintenance Page</h1>

<p>Here will find the Maintenance list </p> 

<a class="btn btn-outline-dark" href="{% url 'maintenance_new' %}">Add New Maintenance</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Asset</th>
			<th scope="col">Maintenance Type</th>
			<th scope="col">Main Cost</th>
			<th scope="col">Maintenance Start</th>
			<th scope="col">Maintenance Expiry</th>
		</tr>
	</thead>
	<tbody>
		{% for fa in main_all  %}
		<tr>
			<th scope="row"> <a href="{% url 'maintenance_detail' pk=fa.pk  %}">{{ fa.asset }}</a></th>
			<td>{{ fa.ms_type  }}</td>
			<td>{{ fa.main_cost  }}</td>
			<td>{{ fa.main_date_start }}</td>
			<td>{{ fa.main_date_end }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table >
{% endblock %}


