<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Maintenance</title>
    </head>
    <body>

        <div class=conainer align='middle'>

            <h1>Asset  : {{ maintenance.asset}}</h1>
            <hr>
            <h3> Main Type: {{ maintenance.ms_type }}</h3>
            <h3>Start Date : {{ maintenance.main_date_start	}}</h3>
            <h3>End Date :  {{ maintenance.main_date_end}}</h3>
            <h3>Main Cost :{{ maintenance.main_cost	}}</h3>
            <h3>Expiry  :   {{ maintenance.expiry_date}}</h3>

        </div>

    </body>
</html>
