{% extends 'base.html' %}
{% load humanize %}

{% block body_block %}



<div class="card ">
  <div class="card-header">
    <h1>Maintenance Details</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title">  Asset:  <strong> {{ maintenance_detail.asset	}} </strong>  </h4>
    <div class="row">
      <div class="col">
        <p class='card-text'>Main Type: {{ maintenance_detail.ms_type }}</p>
        <p class='card-text'>Start Date : {{ maintenance_detail.main_date_start	}}</p>
        <p class='card-text'>End Date :  {{ maintenance_detail.main_date_end	}}</p>
        <p class='card-text'>Description  :   {{ maintenance_detail.description}}</p>
      </div>
      <div class="col">
        <p class='card-text'>Main Cost :{{ maintenance_detail.main_cost	}}</p>
        <p class='card-text'>Asset  : {{ maintenance_detail.asset	}}</p>
        <p class='card-text'>Expiry  :   {{ maintenance_detail.expiry_date}}</p>
      </div>
    </div>
    <br>
    <a class="btn btn-primary" href="{% url 'maintenance' %}">Back to Maintenance</a>
  </div>
  <div class="card-footer text-muted">
    Maintenance is Important
  </div>
</div>



{% endblock %}


