{% extends 'base.html' %}
{% block body_block %}

<h1>Jobs Main Page</h1>

<p>Here will find the Jobs list </p> 

<div class="row">
	<div class="col">
		<div class="card card-body" >
			<form  method="GET" >
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary" >Search</button>
				<a class="btn btn-outline-dark" href="{% url 'jobs_new' %}">Add new Job</a>
			</form>
		</div>
	</div>
</div>

<br>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Client</th>
			<th scope="col">Well</th>
			<th scope="col">Contract</th>
			<th scope="col">BL</th>
			<th scope="col">BU</th>
			<th scope="col">Start Date</th>
			<th scope="col">End Date</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		{#{% for fa in jobs_all  %} This is the old code before adding the filter   #}
		{% for fa in filter.qs %}
		<tr>
			<th scope="row"> <a href="{% url 'jobs_detail' pk=fa.pk  %}">{{ fa.JOBID }}</a></th>
			<td>{{ fa.client  }}</td>
			<td>{{ fa.well  }}</td>
			<td>{{ fa.isContract }}</td>
			<td>{{ fa.BL }}</td>
			<td>{{ fa.BU}}</td>
			<td>{{ fa.startDate}}</td>
			<td>{{ fa.endDate}}</td>
			<td><a href="{% url 'jobs_update' pk=fa.pk  %}" class="btn btn-info btn-sm">Update</a></td>
			<td><a href="{% url 'jobs_delete' pk=fa.pk  %}"class="btn btn-danger btn-sm">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table >
{% endblock %}


